
@import "./variables.scss";


.display-2{
    margin-bottom : 1rem;
    text-transform:capitalize;
    font-family: 'Poppins', sans-serif;
  
    .intro{  // &--intro
      display: inline-block;
      font-weight:700;
      font-family: 'Poppins', sans-serif ;
    }
  
    .description{
      font-size:1rem;   
      display: block;
      text-transform: none;
      text-align: justify;
      margin-top : 1.2rem; 
    }
  }

  
.display-3{
  font-family: 'Poppins', sans-serif ;

  &--title {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background:linear-gradient(to right, $primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (min-width:992px) {
        font-size: 1.8rem;
    }
  }
}


// BORDER RIGHT 
.border-right {
  border-right: 0;

  @media screen and (min-width:576px) {
      border-right: 0.1rem solid $gray-300;
      height: 100%;    }
}


.gradient{
  @include gradient ;
}


  // Heading line design

  
.heading-line::before{
  content:" ";
  height:0.1rem;
  width:10rem;
  margin:0 auto;
  display:block;
  background : $primary ;
}


.heading-line::after{
  content:" ";
  height:0.8rem;
  width:2.5rem;
  margin:0 auto;
  display:block;
  background : $secondary ;
}

  
  